@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
* {
  font-family: 'Noto Sans TC';
}
.message {
  font-size: 10px;
  margin-bottom: 10px;
  color: #d20000;
}
.notice {
  font-size: 10px;
  display: none;
  color: #d20000;
}
.error {
  color: #d20000;
}
.success {
  color: #018400;
}
.sloganTitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5em;
}
.headLine {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5em;
}
.dialogTitleBold {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5em;
}
.dialogTitleRegular {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5em;
}
.buttonBold {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.5em;
}
.buttonRegular {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5em;
}
.contentBold {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
}
.contentRegular {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}
.bodyBold {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
}
.bodyMedium {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}
.categoryListMedium {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5em;
}
.hr {
  width: 1200px;
  border: 1px solid #e8e8e8;
  position: relative;
}
.confirmBtn {
  padding: 10px 20px 10px 20px;
  border: 0px;
  background-color: #489;
  border-radius: 5px;
  color: #fff;
  width: 154px;
  height: 36px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
.confirmBtn:hover {
  filter: brightness(1.3);
  transition: 0.2s;
}
.input {
  outline-style: none;
  border: 1px solid #e8e8e8;
  padding: 10px;
  border-radius: 5px;
  transition: 0.1s;
}
.input:focus {
  transition: 0.1s;
  border: 2px solid #1a73e8;
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}
@media (max-width: 1200px) {
  .hr {
    width: 90%;
  }
}
@-moz-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}
@-webkit-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}
@-o-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}
@keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}
* {
  box-sizing: border-box;
}
html {
  background-color: #757575;
}
body {
  position: relative;
  background-color: #fff;
  padding-top: 90px;
}
.headline {
  width: 1200px;
  padding: 0 100px 0 100px;
  margin: 0 auto;
  height: auto;
  display: flex;
  position: relative;
  color: #666;
}
@media (max-width: 1200px) {
  .headline {
    width: 90%;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .headline {
    display: flex;
    flex: wrap;
  }
}
.noBooking {
  width: 1200px;
  padding: 0 100px 0 100px;
  margin: 0 auto;
  height: auto;
  display: flex;
  top: 40px;
  height: 100px;
  position: relative;
  color: #666;
}
@media (max-width: 1200px) {
  .noBooking {
    width: 90%;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .noBooking {
    display: flex;
    flex: wrap;
  }
}
.tripInfo {
  display: none;
}
.section {
  width: 1200px;
  padding: 0 100px 0 100px;
  margin: 0 auto;
  height: auto;
  display: flex;
  margin-top: 40px;
  display: block;
}
@media (max-width: 1200px) {
  .section {
    width: 90%;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .section {
    display: flex;
    flex: wrap;
  }
}
.dayTrip {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 50px;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
}
.dayTrip:nth-child(1) {
  border-top: 1px solid #e8e8e8;
}
.dayTrip:nth-last-child(1) {
  border-bottom: 0;
}
.dayTrip__imgBox {
  width: 266px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  overflow: hidden;
}
.dayTrip__imgAtt {
  cursor: pointer;
}
.dayTrip__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}
.dayTrip__infoBox {
  flex: auto;
  margin-left: 20px;
  height: 100%;
  width: 60%;
}
.dayTrip__info {
  display: flex;
  margin-bottom: 20px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dayTrip__info:nth-of-type(4) {
  margin-bottom: 0;
}
a.dayTrip__info:nth-of-type(1) {
  text-decoration: none;
  color: #489;
  transition: 0.2s;
  display: inline-block;
}
a.dayTrip__info:nth-of-type(1):hover {
  filter: brightness(1.3);
  cursor: pointer;
  transition: 0.2s;
}
.dayTrip__checkboxLabel {
  position: absolute;
  top: 15px;
  left: 0;
  display: flex;
  align-items: center;
  color: #909090;
  cursor: pointer;
}
.dayTrip__checkboxLabel:hover {
  filter: brightness(1.2);
  transition: 0.2s;
}
.dayTrip__checkbox {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.dayTrip input[type='checkbox'] {
  cursor: pointer;
}
.dayTrip input[type='checkbox']:checked {
  accent-color: #489;
}
.dayTrip__delete {
  position: absolute;
  top: 15px;
  right: 0;
  width: 30px;
  height: 30px;
  transition: 0.2s;
}
.dayTrip__delete:hover {
  filter: brightness(0.4);
  cursor: pointer;
  transition: 0.2s;
}
.contact {
  width: 1200px;
  padding: 0 100px 0 100px;
  margin: 0 auto;
  height: auto;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #666;
}
@media (max-width: 1200px) {
  .contact {
    width: 90%;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .contact {
    display: flex;
    flex: wrap;
  }
}
.contact__box {
  width: 100%;
}
.contact__info {
  margin-top: 30px;
}
.payment {
  width: 1200px;
  padding: 0 100px 0 100px;
  margin: 0 auto;
  height: auto;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #666;
  position: relative;
}
@media (max-width: 1200px) {
  .payment {
    width: 90%;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .payment {
    display: flex;
    flex: wrap;
  }
}
.payment__box {
  width: 100%;
}
.payment__info {
  margin-top: 30px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.confirm {
  width: 1200px;
  padding: 0 100px 0 100px;
  margin: 0 auto;
  height: auto;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .confirm {
    width: 90%;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .confirm {
    display: flex;
    flex: wrap;
  }
}
.confirm__box {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.confirm__fee {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #666;
}
.confirm__fee {
  margin-bottom: 35px;
}
.input {
  width: 200px;
  height: 38px;
}
.notice {
  position: relative;
  top: 0px;
  left: 90px;
}
/* skeleton */
.card-template {
  display: block;
}
.dayTrip__skeleton {
  width: 100%;
  height: auto;
}
.skeleton-text {
  width: 90%;
  height: 0.7rem;
  border-radius: 0.125rem;
  margin-bottom: 20px;
}
.skeleton-text:nth-child(1) {
  width: 70%;
}
/* tappay */
.tpfield {
  width: 200px;
  height: 38px;
  border: 1px solid #e8e8e8;
  padding: 10px;
  border-radius: 5px;
  transition: 0.1s;
}
.tappay-field-focus {
  transition: 0.1s;
  border: 2px solid #1a73e8;
}
.bookNotice {
  display: none;
  width: 100%;
  height: 80px;
  margin-top: 30px;
  padding: 20px;
  background-color: #ffebeb;
  border-radius: 5px;
  border: 1px solid #d20000;
  align-items: center;
  color: #d20000;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.cardNotice {
  display: none;
  width: 100%;
  height: 80px;
  margin-top: 30px;
  padding: 20px;
  background-color: #ffebeb;
  border-radius: 5px;
  border: 1px solid #d20000;
  align-items: center;
  color: #d20000;
  font-size: 14px;
}
/* 照片 loading */
.loading {
  display: none;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.loading__content {
  position: sticky;
  top: 300px;
}
.loading__ring {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.loading__ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 8px;
  border: 3px solid #757575;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #757575 transparent transparent transparent;
}
.loading__ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading__ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading__ring div:nth-child(3) {
  animation-delay: -0.15s;
}
.loading__progress {
  text-align: center;
  color: #757575;
  font-size: 20px;
}
/* RWD */
@media (max-width: 1200px) {
  .dayTrip__imgBox {
    width: 266px;
    height: 200px;
  }
  .dayTrip__delete {
    position: absolute;
  }
  .section {
    display: block;
  }
}
@media (max-width: 600px) {
  .dayTrip {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    position: relative;
  }
  .dayTrip__imgBox {
    width: 100%;
    height: 200px;
  }
  .dayTrip__infoBox {
    width: 90%;
    margin-top: 30px;
    margin-left: 0;
  }
  .dayTrip____skeleton {
    margin-top: 30px;
    margin-left: 0;
  }
  .section {
    display: block;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
