@import "../components/base.styl"

mainWidth()
	width: 1200px
	padding: 0 100px 0 100px
	margin: 0 auto
	height: auto
	display: flex
	@media (max-width: 1200px)
		width: 90%
		padding: 0
	@media (max-width: 600px)
		display: flex
		flex: wrap


*
	box-sizing: border-box

html
	background-color #757575
body
	position:relative
	background-color #fff


.headline
	mainWidth()
	position: relative
	top: 91px
	height: 100px
	color: $secondary70

.noBooking
	mainWidth()
	top: 40px
	height: 100px
	position: relative
	color: $secondary70

.tripInfo
	display: none

.section
	mainWidth()
	margin-top: 40px
	// display: none


.dayTrip
	width: 100%
	height: auto
	display: flex
	justify-content: left
	align-items: center
	margin-bottom: 40px 
	position: relative

	&__imgBox
		width: 266px
		height: 200px
		overflow: hidden
		border-radius: 5px
		overflow hidden
	
	&__imgAtt
		cursor:pointer
		
	&__img
		width: 100%
		height: 100%
		object-fit: cover
		transition: 0.2s

	&__infoBox
		flex:auto
		margin-left: 20px
		height: 100%

	&__info
		display: flex
		margin-bottom: 20px
		color: $secondary70
		
		a&:nth-of-type(1)
			text-decoration: none
			margin-bottom: 30px
			color: $primary70
			transition: 0.2s

			&:hover
				filter: brightness(1.3);
				cursor: pointer
				transition: 0.2s

	&__delete
		position: absolute
		top: 0
		right: 0
		width: 30px
		height: 30px
		transition: 0.2s

		&:hover
			filter: brightness(0.4);
			cursor: pointer
			transition: 0.2s


.contact
	mainWidth()
	margin-top: 40px
	margin-bottom:40px
	color: $secondary70

	&__box
		width: 100%

	&__info
		margin-top: 30px


.payment
	mainWidth()
	margin-top: 40px
	margin-bottom:40px
	color: $secondary70	

	&__box
		width: 100%

	&__info
		margin-top: 30px

.confirm
	mainWidth()
	margin-top: 40px
	margin-bottom:40px

	&__box
		width: 100%
		height: auto
		display: flex
		flex-wrap: wrap
		justify-content: flex-end

	&__fee
		display: flex
		justify-content: flex-end
		width: 100%
		color: $secondary70	

.confirm__fee
	margin-bottom: 35px

.input
	width: 200px
	height: 38px

.notice
	position relative
	top:0px
	left: 90px

/* skeleton */
.card
	display: none

.card-template
	display: block

.dayTrip__skeleton
	width: 100%
	height: auto

.skeleton-text
	width: 90%
	height: 0.7rem
	border-radius: 0.125rem
	margin-bottom: 20px;

	&:nth-child(1) 
		width: 70%

/* RWD */
@media (max-width: 1200px)
	.dayTrip__delete
		position: absolute
		top: auto
		bottom: -30px


@media (max-width: 600px)
	.dayTrip
		width: 100%
		height: auto
		display: flex
		flex-wrap: wrap
		justify-content: left
		margin-bottom: 40px 
		position: relative

		&__imgBox
			width: 100%
			height: 200px

		&__infoBox
			width: 100%
			margin-top: 30px
			margin-left: 0

		&____skeleton
			margin-top: 30px
			margin-left: 0
		

