@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
* {
  font-family: 'Noto Sans TC';
}
.message {
  font-size: 10px;
  margin-bottom: 10px;
  color: #d20000;
}
.notice {
  font-size: 10px;
  display: none;
  color: #d20000;
}
.error {
  color: #d20000;
}
.success {
  color: #018400;
}
.sloganTitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5em;
}
.headLine {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5em;
}
.dialogTitleBold {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5em;
}
.dialogTitleRegular {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5em;
}
.buttonBold {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.5em;
}
.buttonRegular {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5em;
}
.contentBold {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
}
.contentRegular {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}
.bodyBold {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
}
.bodyMedium {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}
.categoryListMedium {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5em;
}
.hr {
  width: 1200px;
  border: 1px solid #e8e8e8;
  position: relative;
}
.confirmBtn {
  padding: 10px 20px 10px 20px;
  border: 0px;
  background-color: #489;
  border-radius: 5px;
  color: #fff;
  width: 154px;
  height: 36px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
.confirmBtn:hover {
  filter: brightness(1.3);
  transition: 0.2s;
}
.input {
  outline-style: none;
  border: 1px solid #e8e8e8;
  padding: 10px;
  border-radius: 5px;
  transition: 0.1s;
}
.input:focus {
  transition: 0.1s;
  border: 2px solid #1a73e8;
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}
@media (max-width: 1200px) {
  .hr {
    width: 90%;
  }
}
@-moz-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}
@-webkit-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}
@-o-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}
@keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}
* {
  box-sizing: border-box;
}
body {
  position: relative;
}
/* [Desktop] Hero section */
.heroSection {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 320px;
  background-color: #878787;
  top: 54px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.sectionImgBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sectionImgBox .welcomeImg {
  width: 110%;
  object-fit: cover;
}
.slogan {
  position: absolute;
  margin: 0 auto;
  width: 1200px;
}
.slogan__text {
  color: #f8f8f8;
}
.slogan__main {
  display: block;
  height: 41px;
}
.slogan__second {
  margin-top: 15px;
  display: block;
  height: 16px;
}
.search {
  display: flex;
  margin-top: 25px;
}
.search__container {
  position: relative;
}
.search__bar {
  width: 400px;
  height: 46px;
  border-radius: 5px 0px 0px 5px;
  outline-style: none;
  border: 0px;
  padding: 15px;
  color: #757575;
  box-shadow: 0px 0px 20px #abc;
}
.search__bar:focus + .category {
  visibility: visible;
  opacity: 1;
}
.search__btn {
  width: 60px;
  height: 46px;
  border-radius: 0px 5px 5px 0px;
  background-color: #489;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.search__btn:hover {
  filter: brightness(1.3);
  transition: 0.2s;
}
.search__Img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.category {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.5s;
  position: absolute;
  width: 400px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #abc;
  margin-top: 5px;
}
.category__list {
  width: 120px;
  height: 40px;
  padding: 10px 15px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
}
.category__list:hover {
  background-color: #e8e8e8;
  border-radius: 5px;
  transition: 0.2s;
}
/* attractions */
.att {
  width: 1200px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, 242px);
  grid-gap: 30px;
  padding: 15px;
  margin: 106px auto 40px auto;
  justify-content: center;
}
.att__container {
  width: 270px;
  height: 242px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  text-decoration: none;
}
.att__container:hover .att__Img {
  scale: 1.1;
  filter: brightness(110%);
  transition: 0.3s;
}
.att__topInfo {
  position: relative;
  width: 100%;
  height: 197px;
  overflow: hidden;
}
.att__topInfo .att__Img {
  transition: 0.3s;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: unset;
}
.att__nameArea {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  padding: 10px;
}
.att__nameArea .att__name {
  opacity: none;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.att__btmInfo {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #757575;
  padding: 10px;
}
.endMessage {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
}
/* skeleton */
.card {
  display: none;
}
.card-template {
  display: grid;
}
.skeleton-edit {
  background-color: rgba(0,0,0,0.2);
}
.skeleton-text {
  height: 0.8rem;
  border-radius: 0.125rem;
}
.att__name.skeleton-text {
  width: 180px;
}
.att__trans.skeleton-text {
  width: 50px;
}
.att__category.skeleton-text {
  width: 120px;
}
@media (max-width: 1200px) {
  .welcomeImg {
    height: 320px;
  }
  .slogan {
    width: 90%;
  }
  .slogan .search__bar {
    width: 230px;
  }
  .slogan .category {
    width: 322px;
  }
  .slogan .category__list {
    width: 96px;
  }
  .att {
    width: 90%;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 242px);
  }
  .att .att__container {
    width: 100%;
    height: 242px;
  }
}
@media (max-width: 600px) {
  .att {
    width: 90%;
    grid-template-columns: repeat(1, 322px);
    grid-template-rows: repeat(2, 280px);
  }
}
