@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC';
}

/* Primary / Cyan series */
$primary70 = #448899
$primary50 = #66AABB
$primary50 = #AADDEE

/* Secondary / Gray series */
$secondary70 = #666666
$secondary50 = #757575
$secondary20 = #E8E8E8
$secondary10 = #F8F8F8

/* Typography */
.sloganTitle
	//styleName: Header 1 - Bold 28(24);
	font-size: 28px;
	font-weight: 700;
	line-height: 24px;

.headLine
	//styleName: Header 2 - Bold 30(34);
	font-size: 30px;
	font-weight: 700;
	line-height: 34px;

.dialogTitleBold
	//styleName: Header 3 - Blod 24(24);
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;

.dialogTitleRegular
	//styleName: Header 3 - Reg 24(24);
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;

.buttonBold
	//styleName: Button - Bold 19(16);
	font-size: 19px;
	font-weight: 700;
	line-height: 16px;

.buttonRegular
	//styleName: Button - reg 19(16);
	font-size: 19px;
	font-weight: 400;
	line-height: 16px;

.contentBold
	//styleName: Content - Bold 16(Auto);
	font-size: 16px;
	font-weight: 700;
	line-height: auto;

.contentRegular
//styleName: Content - Reg 16(Auto);
	font-size: 16px;
	font-weight: 400;
	line-height: auto;

.bodyBold
	//styleName: Body - Bold 16(13.3);
	font-size: 16px;
	font-weight: 700;
	line-height: 13.3px;

.bodyMedium
	//styleName: Body - Med 16(13.3);
	font-size: 16px;
	font-weight: 500;
	line-height: 13.3px;

.categoryListMedium
//styleName: Category List - Med 14(auto);
	font-size: 14px;
	font-weight: 500;
	line-height: auto;









