@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
* {
  font-family: 'Noto Sans TC';
}
.message {
  font-size: 10px;
  margin-bottom: 10px;
  color: #d20000;
}
.notice {
  font-size: 10px;
  display: none;
  color: #d20000;
}
.error {
  color: #d20000;
}
.success {
  color: #018400;
}
.sloganTitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5em;
}
.headLine {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5em;
}
.dialogTitleBold {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5em;
}
.dialogTitleRegular {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5em;
}
.buttonBold {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.5em;
}
.buttonRegular {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5em;
}
.contentBold {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
}
.contentRegular {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}
.bodyBold {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
}
.bodyMedium {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}
.categoryListMedium {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5em;
}
.hr {
  width: 1200px;
  border: 1px solid #e8e8e8;
  position: relative;
}
.confirmBtn {
  padding: 10px 20px 10px 20px;
  border: 0px;
  background-color: #489;
  border-radius: 5px;
  color: #fff;
  width: 154px;
  height: 36px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
.confirmBtn:hover {
  filter: brightness(1.3);
  transition: 0.2s;
}
.input {
  outline-style: none;
  border: 1px solid #e8e8e8;
  padding: 10px;
  border-radius: 5px;
  transition: 0.1s;
}
.input:focus {
  transition: 0.1s;
  border: 2px solid #1a73e8;
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}
@media (max-width: 1200px) {
  .hr {
    width: 90%;
  }
}
@-moz-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}
@-webkit-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}
@-o-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}
@keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}
/* [Desktop] Navigation */
.navBar {
  position: fixed;
  width: 100%;
  height: 54px;
  left: 0px;
  top: 0px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-bottom: 1px solid #e8e8e8;
}
.navBarContainer {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBarContainer .navTitle {
  color: #489;
  text-decoration: none;
}
.navBarContainer .navBarBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBarContainer .navBarBtn .button {
  padding: 10px;
  color: #666;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}
.navBarContainer .navBarBtn .button:hover {
  background-color: #e8e8e8;
  transition: 0.2s;
}
.navBarContainer .navBarBtn .navLoginBtn {
  display: none;
}
.navBookBtn {
  width: 60px;
  position: relative;
}
.bookingCount {
  width: 25px;
  height: 18px;
  background-color: #ff4949;
  border-radius: 18px;
  top: 2px;
  right: 5px;
  position: absolute;
  font-size: 8px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartBox {
  width: 25px;
  height: 25px;
  justify-content: center;
}
.cartBox .cart {
  max-height: 100%;
  object-fit: cover;
}
.photoBox {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.photoBox .photo {
  max-height: 100%;
  object-fit: cover;
}
.arrowBox {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.arrowBox .arrow {
  max-height: 100%;
  object-fit: cover;
}
ul.menu {
  display: inline-block;
  list-style: none;
  padding: 0;
}
ul.menu li {
  position: relative;
  white-space: nowrap;
}
.menuBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.subMenu {
/*隱藏次選單*/
  position: absolute;
  width: 120px;
  top: 45px;
  list-style: none;
  padding: 0;
  box-shadow: 3px 3px 12px rgba(157,157,157,0.5);
  display: none;
  background-color: #fff;
  border-radius: 5px;
  z-index: 3;
}
.username {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  .navBarContainer {
    margin: 10px;
    padding: 0 15px 0 15px;
  }
}
@media (max-width: 600px) {
  .navBarContainer {
    margin: 10px;
    padding: 0;
  }
  .username {
    display: none;
  }
  .subMenu {
    right: 10px;
  }
}
@-moz-keyframes fadeInMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeInMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeOutMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOutMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOutMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
