@import "../components/base.styl"

/* signIn */
.boxBG
	display: none
	z-index: 3
	width: 100%
	height: 100%
	background: rgba(0,0,0,0.25)
	backdrop-filter: saturate(180%) blur(5px)
	-webkit-backdrop-filter:saturate(180%) blur(5px);
	position: absolute
	top: 0
	opacity: 0


.signUp
	display: none
	opacity: 0

.signIn
	display: none
	opacity: 0
	

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.box
	z-index: 4
	position: absolute

	&__container
		width: 340px;
		height: auto;
		border-radius: 6px;
		background: #FFFFFF;

		margin: 0 auto
		left: 50%
		transform: translate(-50%, 0)
		position: fixed
		top: 80px

		display: flex
		flex-wrap: wrap
		justify-content: center
		align-items: center

		overflow: hidden

	&__topBar
		width: 100%
		height: 10px
		position: absolute
		top: 0
		background: linear-gradient(270deg, #337788 0%, #66AABB 100%);

	&__title
		color: $secondary70
		margin: 25px 15px 15px 15px

	&__closeBtn
		position: absolute
		top: 27px
		right: 17px
		width: 25px
		height: 25px
		cursor pointer

.box__form
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: center

	.input
		height: 47px;
		width: 310px;
		padding: 15px;
		color: $secondary50
		margin-bottom: 10px

	.btn
		background: #448899;
		border-radius: 5px;
		height: 47px;
		width: 310px;
		border-radius: 5px;
		outline-style: none
		border: 0
		color: #ffffff
		cursor pointer

	.goToText
		color: $secondary70
		margin:  10px 15px 15px 15px
		text-decoration: none
		cursor pointer
		transition: 0.2s
		&:hover
			filter: brightness(1.5);
			transition: 0.2s

.notice
	position: relative
	left: 0
	top: -10px
	margin-bottom: 10px

				