<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	{% include 'components/head.html'%}
	<link rel="stylesheet" href="../static/CSS/pages/booking.css">
</head>

<body>
	{% include 'components/navigation.html'%}
	<headline class="headline buttonBold">
		<div>您好，</div>
		<div class="headline_username"></div>
		<div>，待預訂的行程如下：</div>
	</headline>
	<tripInfo class="tripInfo">
		<section class="section">
			<div class="dayTrip">
				<div class="dayTrip__imgBox">
					<img class="dayTrip__img">
				</div>
				<div class="dayTrip__infoBox">
					<a class="dayTrip__info bodyBold">
						臺北一日遊：
						<div class="dayTrip__name"></div>
					</a>
					<div class="dayTrip__info bodyBold">
						日期：
						<div class="dayTrip__date bodyMedium"></div>
					</div>
					<div class="dayTrip__info bodyBold">
						時間：
						<div class="dayTrip__time bodyMedium"></div>
					</div>
					<div class="dayTrip__info bodyBold">
						費用：
						<div class="dayTrip__fee bodyMedium"></div>
					</div>
					<div class="dayTrip__info bodyBold">
						地點：
						<div class="dayTrip__address bodyMedium"></div>
					</div>
					<div class="dayTrip__delete">
						<img class="dayTrip__deleteIcon" src="../static/Images/components/delete.png" alt="">
					</div>
				</div>
			</div>
			</div>
		</section>
		<hr class="hr">
		<contact class="contact">
			<div class="contact__box">
				<div class="contact__header buttonBold">您的聯絡資訊</div>
				<div class="contact__info bodyMedium">聯絡姓名：
					<input class="contact__name input" type="text">
				</div>
				<div class="contact__info bodyMedium">聯絡信箱：
					<input class="contact__email input" type="text">
				</div>
				<div class="contact__info bodyMedium">手機號碼：
					<input class="contact__phone input" type="text">
				</div>
				<p class="bodyBold">
					請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
				</p>
			</div>
		</contact>
		<hr class="hr">
		<payment class="payment">
			<div class="payment__box">
				<div class="payment__header buttonBold">
					信用卡付款資訊
				</div>
				<div class="payment__info  bodyMedium">卡片號碼：
					<input class="payment__card input" type="text" placeholder="**** **** **** ****">
				</div>
				<div class="payment__info  bodyMedium">過期時間：
					<input class="payment__validTime input" type="text" placeholder="MM/YY">
				</div>
				<div class="payment__info bodyMedium">驗證密碼：
					<input class="payment__cvv input" type="text" placeholder="CVV">
				</div>
			</div>
		</payment>
		<hr class="hr">
		<confirm class="confirm">
			<div class="confirm__box">
				<div class="confirm__fee bodyBold">總價：新台幣&nbsp;
					<div class="confirm__feeSum"></div>
					&nbsp;元</div>
				<button class="confirmBtn">
					確認訂購並付款
				</button>
			</div>
		</confirm>
	</tripInfo>
	<div class="noBooking bodyMedium">
		目前沒有任何待預訂的行程
	</div>

	<div>
		{% include 'components/sign_in.html'%}
	</div>
	<div>
		{% include 'components/sign_up.html'%}
	</div>
	<div>
		{% include 'components/footer.html'%}
	</div>
	<script type="text/javascript" src="../static/javascript/login.js"></script>
	<script type="text/javascript" src="../static/javascript/booking.js"></script>
</body>

</html>