<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	{% include 'components/head.html'%}
	<link rel="stylesheet" href="../static/CSS/pages/booking.css">
	<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
	<style>

	</style>
</head>

<body>
	{% include 'components/navigation.html'%}
	<headline class="headline buttonBold">
		<div>您好，</div>
		<div class="headline_username"></div>
		<div>，待預訂的行程如下：</div>
	</headline>
	
	<tripInfo class="tripInfo">
		<section class="section card">
			<div class="bookNotice">抱歉，請選擇至少一個預訂行程。</div>
		</section>
		<section class="section card-template">
		</section>
		</div>
		<hr class="hr">
		<contact class="contact">
			<div class="contact__box">
				<div class="contact__header buttonBold">您的聯絡資訊</div>

				<div class="contact__info bodyMedium">聯絡姓名：
					<input class="contact__name input" type="text">
					<div class="notice"></div>
				</div>
				<div class="contact__info bodyMedium">聯絡信箱：
					<input class="contact__email input" type="text">
					<div class="notice"></div>
				</div>
				<div class="contact__info bodyMedium">手機號碼：
					<input class="contact__phone input" type="text" maxlength="10" oninput="value=value.replace(/[^0-9]/g,'')">
					<div class="notice "></div>
				</div>
				<p class="bodyBold ">
					請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
				</p>
			</div>
		</contact>
        <hr class="hr ">
		<payment class="payment ">
			<div class="payment__box bodyMedium">
				<div class="payment__header buttonBold ">
					信用卡付款資訊
				</div>
				<div class="payment__info" >
					卡片號碼：<div class="tpfield payment__card" id="card-number"></div>
					<div class="notice "></div>
				</div>
				
				<div class="payment__info" >
					過期時間：<div class="tpfield payment__validTime" id="card-expiration-date"></div>
					<div class="notice "></div>
				</div>
				
				<div class="payment__info " >
					驗證密碼：<div class="tpfield payment__cvv" id="card-ccv"></div>
					<div class="notice "></div>
				</div>
				<div class="cardNotice">抱歉，您輸入的信用卡資訊有誤，請再檢查一次。</div>
			</div>
		</payment>
		<hr class="hr ">
		<confirm class="confirm ">
			<div class="confirm__box ">
				<div class="confirm__fee bodyBold ">總價：新台幣&nbsp;0
					<div class="confirm__feeSum "></div>
					&nbsp;元</div>
				<button class="confirmBtn ">
					確認訂購並付款
				</button>
			</div>
		</confirm>
	</tripInfo>
	<div class="noBooking bodyMedium ">
		目前沒有任何待預訂的行程
	</div>



	<div>
		{% include 'components/sign_in.html'%}
	</div>
	<div>
		{% include 'components/sign_up.html'%}
	</div>
	<div>
		{% include 'components/footer.html'%}
	</div>
	
	<script type="text/javascript " src="../static/javascript/sign_box.js "></script>
	<script type="text/javascript " src="../static/javascript/booking.js "></script>
	<script type="text/javascript " src="../static/javascript/tappay.js "></script>
	<script>
		TPDirect.setupSDK(
			126853,
			"app_d7evK55CV7K6qwpgR6IlYtM7yMnfVkJUs6okPAaXaqvlfqObl15atLs29L9G",
			"sandbox"
		);
	</script>
</body>

</html>