<div class="boxBG"></div>
<div class="boxContainer boxForSignIn">
	<div class="box">
		<div class="boxTopBar"></div>
		<div class="boxTitle dialogTitleBold">登入會員帳號</div>
		<img class="boxCloseBtn closeSignIn" src="../static/Images/components/close.png" alt="關閉">
		<form class="boxForm" action="#">
			<input class="input signInEmail bodyMedium" type="text" placeholder="輸入電子信箱">
			<input class="input signInPassword bodyMedium" type="password" placeholder="輸入密碼">
			<button class="Btn signInBtn buttonRegular" type="submit">登入帳戶</button>
			<div class="goToText bodyMedium">
				還沒有帳戶？
				<a class="goToBtn goToSignUp bodyMedium">點此註冊</a>
			</div>
		</form>
	</div>
</div>