<div class="boxBG"></div>
<div class="boxContainer boxForSignUp">
	<div class="box">
		<div class="boxTopBar"></div>
		<div class="boxTitle dialogTitleBold">註冊會員帳號</div>
		<img class="boxCloseBtn closeSignUp" src="../static/Images/components/close.png" alt="關閉">
		<form class="boxForm" action="#">
			<input class="input bodyMedium" type="text" placeholder="輸入姓名">
			<input class="input bodyMedium" type="password" placeholder="輸入電子郵件">
			<input class="input bodyMedium" type="password" placeholder="輸入密碼">
			<button class="Btn buttonRegular" type="submit">註冊新帳戶</button>
			<div class="goToText bodyMedium">
				已經有帳戶了？
				<a class="goToBtn goToSignIn bodyMedium">點此登入</a>
			</div>
		</form>
	</div>
</div>